<%= render partial: 'shared/menu' %>
<h1>Recipes Index Page</h1>
<% @recipes.each do |recipe| %>
  <div class="recipes-container">
    <table>
      <tr>
        <td class="recipe-column1" style="width: 20%">
          <h2>Recipe <%= recipe.id %></h3><br />
          <p><%= button_to "Remove", user_recipe_path(@user.id, recipe.id), class: "link1", method: :delete,
            data: { confirm: 'Are you sure?' } %></p>
        </td>
        <td class="recipe-column2" style="width: 80%">
          <h3 class="name"><%= link_to recipe.name %></h3>
          <p class="description"><%= recipe.description %></p>
        </td>
      </tr>
    </table>
  </div>
<% end %>

<%= link_to "New Recipe", new_user_recipe_path(current_user), class: "new-recipe-btn" %>

<div class="page"><%= will_paginate @posts %></div>
