<%= render partial: 'shared/menu' %>
<div class="section1">
  <h1>Recipe: <%= @recipe.name %></h1>
  <table class="up-table">
    <tr>
      <td style="width: 70%">
        <p class="f-size">Preparation time: <%= @recipe.preparation_time %> minutes</p><br />
        <p class="f-size">Cooking time: <%= @recipe.cooking_time %> minutes</p>
        <p class="f-size">Description: <%= @recipe.description %></p>
      </td>
      <td style="width: 30%">
        <div class="form-group">
          <%= label_tag :public, "Public", class: "public" %>
          <%= check_box_tag :public, 1, @recipe.public, class: "check slider round" %>
        </div>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="span">
        <%= link_to 'Generate shopping list', generate_shopping_list_user_recipe_path(@user, @recipe), class: "middle-btn" %>&nbsp;&nbsp;
        <% if can? :create, RecipeFood, @recipe %>
          <%= link_to "Add Ingredient", new_user_recipe_recipe_food_path(current_user, @recipe), class: "middle-btn" %>
        <% else %>
          <%= link_to "Add Ingredient", "#", class: "middle-btn", disabled: true, title: "You do not have permission to add ingredients" %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
<div class="sep"></div>
<div class="recipe-foods-container">
  <table class="down-table">
    <th style="width: 30%">Food</th>
    <th style="width: 20%">Quantity</th>
    <th style="width: 20%">Value</th>
    <th style="width: 30%">Actions</th>
    <% @recipefoods.each do |recipefood| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td class="col1">
          <p class="name"><%= recipefood.food.name %></p>
        </td>
        <td class="col2">
          <p class="quantity"><%= recipefood.quantity %></p>
        </td>
        <td class="col3">
          <p class="unit-value"><%= recipefood.food.price * recipefood.quantity %></p>
        </td>
        <td class="col4">
          <p>
            <%= link_to "Modify", user_recipe_path(@user, @recipe), class: "link3" %>&nbsp;&nbsp;
            <% if can? :destroy, recipefood %>
              <%= button_to "Delete", user_recipe_recipe_food_path(user_id: @user.id, recipe_id: @recipe.id,
              id: recipefood.id), method: :delete, class: "link2", data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </td>
      </tr>
    <% end %>
  </table>
</div>