<div class=new-food-container>
  <h1>New Food</h1>
  <%= form_with(model: [@user, @food], url: user_foods_path(@user)) do |form| %>
    <table>
      <tr>
        <td style="width: 20%;"><%= form.label :name, class: "label2" %></td>
        <td style="width: 80%;"><%= form.text_field :name, class: "name-field2" %></td>
      </tr>
      <tr>
        <td><%= form.label :measurement_unit, class: "label2" %></td>
        <td><%= form.text_field :measurement_unit, class: "text-field2" %></td>
      </tr>
      <tr>
        <td><%= form.label :price, class: "label2" %></td>
        <td><%= form.text_field :price, class: "number-field2" %></td>
      </tr>
      <tr>
        <td><%= form.label :quantity, class: "label2" %></td>
        <td><%= form.text_field :quantity, class: "number-field2" %></td>
      </tr>
    </table>
    <div>
      <%= form.submit "Create Food", class: "submit2-btn" %>
    </div>
  <% end %>
</div>
